
.testcolor {
    /* background-color: #1E7F0D; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:5px;
    width:100px;
    /*height:30px;*/
}

.project {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;  
    border: 1px rgba(0,0,0,0.33) solid;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.2);*/
}

.page-horizontal-slider {
    position: relative; 
    float: left; 
    background: #E5FAFC; 
}

body {
    padding-top: 50px;
}

.navbar{
    height: 50px; 
}

.navbar-jordan {
    background:#262621;
}

.navbar-items {
    height: 50px; 
    width: 150px; 
    text-align: center; 
    font-size: 18px;
}

.navbar-items > a{
    color: #E5FAFC;
}

.navbar-items > a:hover{
    color: #262621;
    background-color: #E5FAFC  !important;
}

.round-active {
    border: 0px solid #000;
    -webkit-border-radius: 25px;
    -moz-border-radius:    25px; 
    border-radius:         25px; 
}

/* .header-container {
    background:white; 
    height: 60px; 
    position: fixed;
} */


/* === ALL === */

.hidden {display:none;}

.marginTop {margin-top:20px;}
.marginNull {margin:0px;}

.mg0 {margin:0px;}

.mt10 {margin-top:10px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.mt50 {margin-top:50px;}
.mt60 {margin-top:60px;}
.mt70 {margin-top:70px;}

.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.mb50 {margin-bottom:50px;}

.ml10 {margin-left:10px;}
.ml20 {margin-left:20px;}
.ml30 {margin-left:30px;}
.ml40 {margin-left:40px;}
.ml50 {margin-left:50px;}
.ml60 {margin-left:60px;}

.mr10 {margin-right:10px;}
.mr20 {margin-right:20px;}
.mr30 {margin-right:30px;}
.mr40 {margin-right:40px;}

.pt0  {padding-top:0px;}
.pt55 {padding-top:55px;}

.pb0 {padding-bottom:0px;}

.pad10 {padding:10px;}

.ftl {float:left;}
.ftr {float:right;}

.algcenter {text-align: center;}
.algright {text-align: right;}
.algleft {text-align: left;}
.algjust {text-align: justify;}

.ht55 {height:55px;}

.wid600 {width:600px;}

.fs10 {font-size:10px;}
.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs20 {font-size:20px;}

.nostyle {text-decoration: none; color:black;}
.nostyle:hover {color:black;}
